{% load static %}
<footer>
    {% if request.path == '/' %}
        <div class="part links">
            <a href="#profiles">Классы</a>
            <a href="#teachers">Кафедра</a>
            <a href="#instructions">Инструкции</a>
            <a href="#statistics">Статистика</a>
        </div>
    {% endif %}
    <div class="part links copyright">
        <a href=""></a>
        <a href=""></a>
        <a href="{% url 'contacts' %}">Контакты</a>
        <a href="https://lyceum49.ru/" target="_blank" id="copyright">&copy; 49 лицей 2023 - </a>
    </div>
    <a href="#header" id="floatingButton" class="btn secondary ellipse-btn floating">
        <i class="fa-sharp fa-solid fa-caret-up"></i>
        <div class="ellipse-container">
            <div class="ellipse primary"></div>
            <div class="ellipse primary"></div>
            <div class="ellipse primary"></div>
        </div>
    </a>
</footer>
<script src="{% static "js/floatingButton.js" %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const copyrightLink = document.querySelector('#copyright')

        const text = document.createTextNode(new Date().getFullYear().toString())
        copyrightLink.appendChild(text)
    })
</script>