{% load static %}

<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Онлайн сервис для подачи заявлений о поступлении в 10 класс лицея № 49 города Калининграда.">
<meta name="keywords" content="49 лицей, лицей № 49, поступление, поступление в 10 класс, 10, 10 класс, школа, путь в успешное будущее, филологический, физико-математический, инженерный, театральный, экономический, профильный, класс">
<meta name="Author" content="">  <!-- todo -->
<meta name="Copyright" content="">  <!-- todo -->
<meta name="Address" content="ул. Кирова, 28, Калининград, Калининградская обл., 236022">
<meta http-equiv="Content-Language" content="ru">
<link rel="shortcut icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">