@import url('include/style.css');

/* --- INTRO --- */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 60px;
}

.intro .text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 24px;
}

.intro .text-container .content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro .text-container .content .text {
    font-weight: 500;
    font-size: 95px;
}

.intro .text-container .content .year {
    margin-left: auto;
    font-size: 60px;
    margin-top: -10px;
    white-space: nowrap;
}

.intro .text-container .content .btn {
    margin-left: 0;
    margin-top: 80px;
    padding: 14px 40px;
}

.intro .img-container {
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: end;
}

@media screen and (max-width: 1600px) {
    .intro .img-container img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1300px) {
    .intro .text-container .content .text {
        font-size: 64px;
    }

    .intro .text-container .content .year {
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .intro .img-container img {
        display: none;
    }

    .intro .text-container .content {
        width: 100%;
    }

    .intro .text-container .content .year {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .intro {
        padding: 0 40px;
    }
}

@media screen and (max-width: 400px) {
    .intro .text-container .content .text {
        font-size: 44px;
    }

    .intro .text-container .content .year {
        font-size: 28px;
    }
}