@import url('include/style.css');

/* --- HEADER --- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 16px;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo-container .logo {
    width: 30px;
    height: 60px;
    border-radius: 10px;
    background: var(--m-primary);
}

header .logo-container .title {
    font-weight: 500;
    font-size: 35px;
    color: var(--white);
    margin-left: 10px;
}

header .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .right nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .right nav ul li a {
    font-size: 25px;
    margin-right: 70px;
    position: relative;
}

header .right nav ul li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--m-secondary);
    border: 1px solid #6060e2;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: bottom 0.3s;
}

header .right nav ul li a:hover::after {
    bottom: -5px;
}

/* --- INTRO --- */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 60px;
}

.intro .text-container {
    width: 100%;
    position: relative;
}

.intro .text-container .content {
    position: absolute;
    bottom: 100px;
    left: 0;
}

.intro .text-container .content .text {
    font-weight: 500;
    font-size: 95px;
}

.intro .text-container .content .text div {
    font-size: 60px;
    margin-top: -10px;
}

.intro .text-container .content .btn {
    margin-left: 0;
    margin-top: 80px;
    padding: 12px 40px;
}

.intro .img-container {
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.intro .img-container img {
    width: 80%;
    height: 80%;
}

/* --- PROFILES --- */
.profile-container {
    margin-top: 80px;
}

.profile-container .col {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .profile-class {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background: var(--gray);
}

.profile-container .img-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .img-col img {
    width: 100%;
}

.profile-container .img-col img.star {
    margin: 64px;
}

/* --- TEACHERS --- */
.teachers .teacher {
    background: var(--gray);
    border-radius: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.teachers .teacher .text {
    min-height: 74px;
    margin-bottom: 35px;
    background: var(--m-primary);
    padding-left: 64px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    clip-path: path("M9.78315 29.4752C-5.50849 22.8257 -0.760368 0 15.9145 0H265V74H25.7561C14.1322 74 12.185 57.353 23.495 54.6703V54.6703C32.6581 52.497 33.7769 39.9087 25.1408 36.1534L9.78315 29.4752Z");
}

.teachers .teacher .text div {
    font-size: 22px;
    font-weight: 500;
    text-align: right;
}

.teachers .teacher .text.odd {
    background: var(--m-secondary);
}

/* --- TEXT BLOCKS --- */
.text-blocks {
    margin: 0 300px;
}

.text-blocks .text-block {
    margin-top: 100px;
}

.text-blocks .text-block:first-child {
    margin-top: 0;
}

.text-blocks .text-block h3 {
    font-size: 50px;
    font-weight: 500;
}

.text-blocks .text-block p {
    margin-top: 8px;
    font-size: 25px;
    font-weight: 500;
}

#statistics .list-block {
    margin-top: 100px;
}