@import url('include/style.css');

/* --- INTRO --- */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 60px;
}

.intro .text-container {
    width: 100%;
    position: relative;
}

.intro .text-container .content {
    position: absolute;
    bottom: 100px;
    left: 0;
}

.intro .text-container .content .text {
    font-weight: 500;
    font-size: 95px;
}

.intro .text-container .content .text div {
    font-size: 60px;
    margin-top: -10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.intro .text-container .content .btn {
    margin-left: 0;
    margin-top: 80px;
    padding: 14px 40px;
}

.intro .img-container {
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.intro .img-container img {
    width: 80%;
    height: 80%;
}

/* --- PROFILES --- */
.profile-container {
    margin-top: 80px;
}

.profile-container .col {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .profile-class {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.profile-container .profile-class .name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-right: 4px;
    text-transform: uppercase;
    text-align: right;
    word-break: break-all;
}

.profile-container .profile-class .exams {
    margin-bottom: 36px;
    margin-right: 4px;
    display: flex;
    flex-direction: row;
    text-align: right;
}

.profile-container .img-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .img-col img {
    width: 100%;
}

.profile-container .img-col img.star {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* --- TEACHERS --- */
.teachers .teacher {
    border-radius: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
}

.teachers .teacher img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.teachers .teacher .text {
    min-height: 74px;
    margin-bottom: 35px;
    background: var(--m-primary);
    padding-left: 64px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    clip-path: path("M9.78315 29.4752C-5.50849 22.8257 -0.760368 0 15.9145 0H265V74H25.7561C14.1322 74 12.185 57.353 23.495 54.6703V54.6703C32.6581 52.497 33.7769 39.9087 25.1408 36.1534L9.78315 29.4752Z");
}

.teachers .teacher .text div {
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.teachers .teacher .text.odd {
    background: var(--m-secondary);
}

/* --- TEXT BLOCKS --- */
.text-blocks {
    margin: 0 300px;
}

.text-blocks .text-block .h100 {
    height: 80px;
}

.text-blocks .text-block:last-child .h100 {
    height: 0;
}

.text-blocks .text-block h3 {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 16px;
}

.text-blocks .text-block p {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.instructions .enroll-link {
    margin-top: 64px;
    padding: 14px 40px;
}

#statistics {
    position: relative;
}

.statistics .list-block {
    margin-top: 100px;
}

.profile-statistic {
    cursor: pointer;
}

.profile-statistic.active {
    background: var(--m-primary);
    color: #fff;
}

/* --- ADAPTIVE ---  */
@media screen and (max-width: 1720px) {
    .teachers .teacher .text {
        padding-left: 48px;
    }

    .teachers .teacher .text div {
        font-size: 20px;
    }

    .profile-container .col,
    .profile-container .profile-class,
    .teachers .teacher {
        width: 260px;
        height: 260px;
    }

    .profile-statistic {
        font-size: 18px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 164px;
        bottom: 0;
    }
}

@media screen and (max-width: 1530px) {
    .intro .text-container .content .text {
        font-size: 75px;
    }

    .intro .text-container .content .text div {
        font-size: 40px;
    }

    .intro .img-container img {
        width: 70%;
        height: 70%;
    }

    .profile-container .col,
    .profile-container .profile-class,
    .teachers .teacher {
        width: 220px;
        height: 220px;
    }

    .teachers .teacher .text {
        padding-left: 38px;
        clip-path: path("M8.47712 23.7909C-4.50813 19.2126 -1.22036 0 12.5484 0H264V60H23.948C14.3662 60 13.046 46.1445 22.4553 44.3349V44.3349C30.374 42.8121 31.1958 31.8009 23.5908 29.1196L8.47712 23.7909Z");
        min-height: 60px;
    }

    .teachers .teacher .text div {
        font-size: 18px;
    }

    .text-blocks .text-block h3 {
        font-size: 42px;
    }

    .text-blocks .text-block p {
        font-size: 20px;
    }

    .profile-statistic {
        padding: 12px 24px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1450px) {
    .swiper-button-next {
        right: -16px;
    }

    .swiper-button-prev {
        left: -16px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 144px;
    }
}

@media screen and (max-width: 1300px) {
    .intro .img-container img {
        width: 60%;
        height: 60%;
    }

    .intro .text-container .content {
        bottom: 40px;
    }

    .profile-container .col,
    .profile-container .profile-class,
    .teachers .teacher {
        width: 200px;
        height: 200px;
    }

    .teachers .teacher .text {
        padding-left: 30px;
        clip-path: path("M7.29207 19.7714C-3.89188 16.4854 -1.5202 0 10.1365 0H263V50H22.4727C14.3865 50 13.4492 38.2289 21.4335 36.9493V36.9493C28.3425 35.842 28.9589 26.1374 22.2455 24.1649L7.29207 19.7714Z");
        min-height: 50px;
        margin-bottom: 30px;
    }

    .teachers .teacher .text div {
        font-size: 17px;
    }

    .text-blocks .text-block h3 {
        font-size: 42px;
    }

    .text-blocks .text-block p {
        font-size: 20px;
    }

    .swiper-button-next {
        right: -30px;
    }

    .swiper-button-prev {
        left: -30px;
    }

    .text-blocks {
        margin: 0 180px;
    }
}

@media screen and (max-width: 1200px) {
    .profile-container .profile-class .name {
        font-size: 20px;
        margin-right: 2px;
    }

    .profile-container .profile-class .exams {
        margin-right: 2px;
    }
}

@media screen and (max-width: 1000px) {
    .intro .text-container .content .text {
        font-size: 54px;
    }

    .intro .text-container .content .text div {
        font-size: 30px;
        margin-top: 4px;
    }

    .profile-container .col,
    .profile-container .profile-class,
    .teachers .teacher {
        width: 160px;
        height: 160px;
    }

    .teachers .teacher .text {
        clip-path: path("M7.25207 17.8222C-2.61951 14.5793 -0.286116 0 10.1045 0H213V45H19.6043C12.3813 45 11.4503 34.5266 18.5601 33.2526V33.2526C24.6117 32.1682 25.2044 23.7197 19.3636 21.8009L7.25207 17.8222Z");
        min-height: 46px;
        margin-bottom: 24px;
    }

    .teachers .teacher .text div {
        font-size: 14px;
    }

    .text-blocks .text-block h3 {
        font-size: 30px;
    }

    .text-blocks {
        margin: 0 100px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 132px;
    }

     .profile-container .profile-class .exams {
         display: none;
    }

     .profile-container .profile-class .name {
         margin-bottom: 36px;
         font-size: 20px;
     }
}

@media screen and (max-width: 900px) {
    .intro .img-container img {
        visibility: hidden;
    }

    .profile-statistic {
        padding: 10px 18px;
        font-size: 14px;
    }

    .profile-container .profile-class .name {
         font-size: 18px;
     }
}

@media screen and (max-width: 750px) {
    .text-blocks .text-block .h100 {
        height: 50px !important;
    }

    .profile-container .profile-class {
        min-width: 120px;
        min-height: 120px !important;
    }

    .teachers .teacher {
        min-width: 160px;
        height: 160px !important;
    }

    .teachers .teacher .text {
        display: block;
        clip-path: none;
        min-height: initial;
        width: 100%;
        padding: 0;
        background: rgba(231, 75, 0, 75%);
    }

    .teachers .teacher .text.odd {
        background: rgba(96, 96, 226, 75%);
    }

    .teachers .teacher .text div {
        font-size: 14px;
        padding: 4px;
    }

    .intro .text-container .content {
        bottom: 0;
    }

    .intro {
        padding: 0 80px;
        margin-top: 0;
    }

    .intro .text-container .content .btn {
        margin-top: 40px;
    }

    .profile-statistic {
        padding: 12px 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .profile-container,
    .profile-container .col {
        margin-top: 16px;
    }

    .profiles h2 {
        margin-bottom: 44px;
    }

    .profiles .row {
        margin-top: 0 !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .intro .text-container .content .text {
        font-size: 48px;
    }

    .intro .text-container .content .text div {
        font-size: 24px;
    }

    .instructions .enroll-link,
    .intro a {
        font-size: 20px;
        padding: 10px 28px !important;
    }
}

@media screen and (max-width: 500px) {
    .intro {
        padding: 80px 40px 0;
    }

    .intro .text-container .content {
        position: initial;
    }

    .teachers .teacher .text {
        clip-path: path("M7.25207 17.8222C-2.61951 14.5793 -0.286116 0 10.1045 0H213V45H19.6043C12.3813 45 11.4503 34.5266 18.5601 33.2526V33.2526C24.6117 32.1682 25.2044 23.7197 19.3636 21.8009L7.25207 17.8222Z");
        min-height: 46px;
        margin-bottom: 24px;
        background: var(--m-primary);
    }

    .teachers .teacher .text.odd {
        background: var(--m-secondary);
    }

    .teachers .teacher .text div {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .profile-container .profile-class {
        min-width: 140px;
        max-width: 140px;
        min-height: 140px !important;
        height: 140px !important;
    }

    .intro .text-container .content .text {
        font-size: 42px;
    }

    .intro .text-container .content .text div {
        font-size: 24px;
    }

    .statistics .list-block {
        margin-top: 32px;
    }

    .text-blocks .text-block h3 {
        font-size: 26px;
    }

    .text-blocks .text-block p {
        font-size: 18px;
    }

    .instructions .list-container .list:nth-child(2)::after {
        top: -24px;
    }

    .instructions .list-container .list:nth-child(2)::before {
        top: 0;
    }

    .instructions .list-container .list:nth-child(3)::after {
        height: 48px;
        top: 50px;
    }

    .text-blocks .text-block {
        /*margin-top: 60px;*/
    }

    .profile-statistic, .instructions .enroll-link {
        margin-top: 24px;
    }

    .statistics h2 {
        margin-bottom: 24px;
    }

    .text-blocks .text-block h3 {
        margin-bottom: 8px;
    }

    .text-blocks .text-block p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 4px;
    }
}