@import url('include/style.css');

/* --- HEADER --- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo-container .logo {
    width: 38px;
    height: 90px;
    border-radius: 0 0 10px 10px;
    background: var(--m-primary);
}

header .logo-container .title {
    font-weight: 500;
    font-size: 40px;
    color: var(--white);
    margin-left: 8px;
}

header .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

header .right nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .right nav ul li a {
    font-size: 30px;
    margin-right: 70px;
    position: relative;
}

header .right nav ul li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--m-secondary);
    border: 1px solid #6060e2;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: bottom 0.3s;
}

header .right nav ul li a:hover::after {
    bottom: -5px;
}

/* --- INTRO --- */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 60px;
}

.intro .text-container {
    width: 100%;
    position: relative;
}

.intro .text-container .content {
    position: absolute;
    bottom: 100px;
    left: 0;
}

.intro .text-container .content .text {
    font-weight: 500;
    font-size: 110px;
}

.intro .text-container .content .text div {
    font-size: 75px;
    margin-top: -10px;
}

.intro .text-container .content .btn {
    margin-left: 0;
    margin-top: 50px;
    padding: 16px 40px;
}

.intro .img-container {
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.intro .img-container img {
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 2200px) {
    .intro .text-container .content .text {
        font-size: 90px;
    }

    .intro .text-container .content .text div {
        font-size: 55px;
    }
}

/* --- PROFILES --- */
.profile-container {
    margin-top: 80px;
}

.profile-container .col,
.profile-container .profile-class {
    width: 320px;
    height: 320px;
}

.profile-container .profile-class {
    border-radius: 30px;
    background: var(--gray);
}

.profile-container .img-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .img-col img {
    width: 100%;
}