footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 30px;
}

footer .part {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .links a {
    margin-top: 30px;
    font-size: 25px;
    position: relative;
}

footer .links a:hover {
    text-decoration: underline var(--m-secondary);
}

footer .links a:first-of-type {
    margin-top: 0;
}

footer .copyright a {
    margin-top: auto !important;
}

@media screen and (max-width: 700px) {
    footer {
        flex-direction: column;
    }

    footer .part {
        margin-top: 12px;
    }

    footer .links a {
        margin-top: 8px !important;
    }
}

.floating {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    padding: 8px 16px !important;
}

.floating.visible {
    opacity: 1;
}

.floating.in {
    animation-duration: 0.2s;
    animation-name: show-btn;
}

.floating.out {
    animation-duration: 0.2s;
    animation-name: hide-btn;
}

@keyframes show-btn {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes hide-btn {
    from {
        bottom: 20px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}