/* --- HEADER --- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 16px;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo-container .logo {
    width: 30px;
    height: 60px;
    border-radius: 10px;
    background: var(--m-primary);
}

header .logo-container .title {
    font-weight: 500;
    font-size: 35px;
    color: var(--white);
    margin-left: 10px;
}

header .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .right nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .right nav ul li a {
    font-size: 25px;
    margin-right: 70px;
    position: relative;
}

header .right nav ul li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--m-secondary);
    border: 1px solid #6060e2;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: bottom 0.3s;
}

header .right nav ul li a:hover::after {
    bottom: -5px;
}

header .right .profile-link {
    margin-left: 35px;
}

@media screen and (max-width: 1530px) {
    header .right .profile-link {
        margin-left: 0;
    }
}

@media screen and (max-width: 1300px) {
    header .right nav {
        display: none;
    }

    header .logo-container .title {
        font-size: 28px;
    }

    header .right .profile-link {
        font-size: 20px;
    }

    header .logo-container .logo {
        width: 24px;
        height: 48px;
    }
}

@media screen and (max-width: 1000px) {
    header .right .profile-link {
        font-size: 18px;
        padding: 8px 20px;
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: 0 40px;
    }
}

@media screen and (max-width: 600px) {
    header, .intro {
        padding: 0 20px;
    }
}

@media screen and (max-width: 450px) {
    header .right .profile-link span {
        display: none;
    }

    header .right .profile-link i {
        display: block !important;
    }
}