@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css");
@import url('./grid.css');

:root {
    --dark: #222222;
    --m-primary: #e74b00;
    --m-secondary: #6060e2;
    --white: #ffffff;
    --gray: #d9d9d9;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--m-primary);
  border-radius: 8px;
  border: 6px solid var(--dark);
}

::selection,
::-moz-selection {
    background: var(--m-secondary);
}

* {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    color: var(--white) !important;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
}

body {
    background: var(--dark);
}

.btn {
    padding: 12px 28px;
    background: var(--gray);
    font-size: 25px;
    border-radius: 20px;
}

.btn.primary {
    background: var(--m-primary);
}

.btn.secondary {
    background: var(--m-secondary);
}

.btn.outline {
    background: transparent;
    border: 3px solid var(--gray);
    transition: border 0.5s;
}

.btn.outline:hover {
    border: 3px solid transparent !important;
}

.btn.outline.primary {
    border-color: var(--m-primary);
}

.btn.outline.secondary {
    border-color: var(--m-secondary);
}

.ellipse-btn {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.ellipse-btn:hover .ellipse {
    transform: translateY(0) scale(2.8);
}

.ellipse-container {
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.ellipse-container .ellipse {
    width: 34%;
    height: 100%;
    border-radius: 100%;
    background: var(--gray);
    position: absolute;
    transform: scale(1.4) translateY(105%) translateZ(0);
    transition: all 700ms ease;
    z-index: -1;
}

.ellipse-container .ellipse.primary {
    background: var(--m-primary);
}

.ellipse-container .ellipse.secondary {
    background: var(--m-secondary);
}

.ellipse-container .ellipse:nth-child(1) {
    left: -5%;
}

.ellipse-container .ellipse:nth-child(2) {
    left: 34%;
    transition-delay: 60ms;
}

.ellipse-container .ellipse:nth-child(3) {
    left: 68%;
    transition-delay: 25ms;
}

.delimiter {
    height: 0;
    border: 1px solid var(--white);
    position: relative;
    margin: 120px 0 32px;
}

.delimiter::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--gray);
    top: -10px;
    left: 50%;
}

.delimiter.primary::after {
    background: var(--m-primary);
}

.delimiter.secondary::after {
    background: var(--m-secondary);
}

.container {
    margin: 0 200px;
}

h2 {
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 60px;
}

h2 span {
    font-weight: 500;
    position: relative;
}

h2 span::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--gray);
    border: 1px solid var(--gray);
    position: absolute;
    bottom: -2px;
    left: 0;
}

h2.right {
    text-align: right;
}

h2.right span::after {
    background: var(--m-secondary);
    border-color: var(--m-secondary);
    left: 0;
}

h2.left span::after {
    background: var(--m-primary);
    border-color: var(--m-primary);
}

.list-block {
    display: flex;
}

.list-container {
    flex: 1;
}

.list-container .list {
    width: 0;
    height: 33%;
    border: 3px solid var(--gray);
    position: relative;
}

.list-container .list:nth-child(1)::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -8px;
    width: 16px;
    height: 64px;
    border-radius: 30px;
    background: var(--gray);
}

.list-container .list:nth-child(2)::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -9px;
    width: 18px;
    height: 18px;
    border-radius: 30px;
    background: var(--gray);
}

.list-container .list:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -9px;
    width: 18px;
    height: 18px;
    border-radius: 30px;
    background: var(--gray);
}

.list-container .list:nth-child(3)::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -8px;
    width: 16px;
    height: 64px;
    background: var(--gray);
}

.list-container .list .text {
    position: absolute;
    top: -6px;
    right: 24px;
    font-size: 60px;
    font-weight: 500;
    color: var(--m-secondary) !important;
}

.list-container .list.primary {
    border-color: var(--m-primary);
}

.list-container .list.secondary {
    border-color: var(--m-secondary);
}

.list-container .list.primary::after,
.list-container .list.primary::before {
    background: var(--m-primary);
}

.list-container .list.secondary::after,
.list-container .list.secondary::before {
    background: var(--m-secondary);
}

.swiper-container {
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next,
.swiper-button-prev {
    top: 170px;
    bottom: 0;
}

.swiper-button-next img {
    transform: rotate(180deg);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
}

@media screen and (max-width: 1400px) {
    h2 {
        font-size: 50px;
    }

    .container {
        margin: 0 100px;
    }
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: 40px;
    }

    .container {
        margin: 0 80px;
    }

    .list-container .list .text {
        font-size: 50px;
    }
}

@media screen and (max-width: 750px) {
    h2 {
        font-size: 40px;
    }

    .container {
        margin: 0 50px !important;
    }

    .list-container .list .text {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 32px;
    }

    .delimiter {
        margin-top: 32px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        margin: 0 20px !important;
    }
}
