<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    {% include 'include/head.html' %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Лицей 49. Путь в успешное будущее</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo"></div>
            <div class="title">Лицей 49</div>
        </div>
        <div class="right">
            <nav>
                <ul>
                    <li><a href="#profiles">Профили</a></li>
                    <li><a href="#teachers">Кафедра</a></li>
                    <li><a href="#statistics">Статистика</a></li>
                </ul>
            </nav>
            <a href="{% url "profile" %}" class="btn primary ellipse-btn profile-link">
                <span>Личный кабинет</span>
                <i class="fa-solid fa-right-to-bracket" style="display: none"></i>
                <div class="ellipse-container">
                    <div class="ellipse secondary"></div>
                    <div class="ellipse secondary"></div>
                    <div class="ellipse secondary"></div>
                </div>
            </a>
        </div>
    </header>
    <div class="intro">
        <div class="text-container">
            <div class="content">
                <div class="text">
                    Лицей 49<br/>
                    <div>Путь в успешное будущее</div>
                </div>
                <a href="#instructions" class="btn secondary ellipse-btn">
                    Как поступить
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="img-container">
            <img src="{% static "image/figure.png" %}" alt="figure">
        </div>
    </div>
    <div class="delimiter primary" style="margin-top: 60px"></div>
    <div class="container profiles" id="profiles">
        <h2 class="right"><span>Набираемые</span> профили</h2>
        <div class="row profile-container">
            <div class="col m3 s6">
                <div class="profile-class"></div>
            </div>
            <div class="col m3 s6">
                <div class="profile-class"></div>
            </div>
            <div class="col m3 s6">
                <div class="profile-class"></div>
            </div>
            <div class="col m3 s6 img-col">
                <img src="{% static "image/ice.png" %}" alt="ice" id="ice">
            </div>
        </div>
        <div class="row profile-container">
            <div class="col m3 s6 img-col">
                <img src="{% static "image/star.png" %}" class="star" alt="star">
            </div>
            <div class="col m3 s6">
                <div class="profile-class"></div>
            </div>
            <div class="col m3 s6">
                <div class="profile-class"></div>
            </div>
            <div class="col m3 s6">
                <div class="profile-class"></div>
            </div>
        </div>
    </div>
    <div class="delimiter secondary"></div>
    <div class="container" id="teachers">
        <h2 class="left"><span>Кафедра</span> учителей</h2>
        <div class="swiper-container teachers">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="teacher">
                        <div class="text">
                            <div>Милорадова О.В. 1<br>Русский язык</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="teacher">
                        <div class="text">
                            <div>Милорадова О.В. 2<br>Русский язык</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="teacher">
                        <div class="text">
                            <div>Милорадова О.В. 3<br>Русский язык</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="teacher">
                        <div class="text">
                            <div>Милорадова О.В. 4<br>Русский язык</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="teacher">
                        <div class="text">
                            <div>Милорадова О.В. 5<br>Русский язык</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="teacher">
                        <div class="text">
                            <div>Милорадова О.В. 6<br>Русский язык</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="delimiter primary"></div>
    <div class="container text-blocks instructions" id="instructions">
        <h2 class="right"><span>Как</span> поступить</h2>
        <div class="row list-block">
            <div class="col s1 list-container">
                <div class="list primary"><div class="text">01</div></div>
                <div class="list primary"><div class="text">02</div></div>
                <div class="list primary"><div class="text">03</div></div>
            </div>
            <div class="col s11">
                <div class="text-block">
                    <h3>Подготовь документы в электронном виде</h3>
                    <p>
                        &#8226; Паспорт с пропиской<br>
                        &#8226; Аттестат за 9 класс<br>
                        &#8226; Итоговые оценки по всем предметам<br>
                        &#8226; Результаты ОГЭ<br>
                    </p>
                </div>
                 <div class="text-block">
                    <h3>Заполни форму</h3>
                    <p>
                        Вместе с родителями заполни форму для подачи заявления в 10 класс.<br>
                        Укажи информацию о своей успеваимости в школе и результатах ОГЭ.<br>
                        Не забудь прикрепить индивидуальные достижения и выбрать профильный класс, в котором ты хотел бы учиться.
                    </p>
                </div>
                 <div class="text-block">
                    <h3>Жди результатов</h3>
                    <p>
                        Отслеживай статус заявки и сообщения от приёмной комиссии в личном кабинете.<br>
                        Когда появяться результаты отбора, мы сообщим тебе по электронной пойти или по телефону.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s11">
                <a href="{% url "enroll" %}" class="btn primary ellipse-btn enroll-link">
                    Подать заявку
                    <div class="ellipse-container">
                        <div class="ellipse secondary"></div>
                        <div class="ellipse secondary"></div>
                        <div class="ellipse secondary"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="delimiter secondary"></div>
    <div class="container text-blocks statistics" id="statistics">
        <h2 class="left"><span>Статистика</span> прошлого года</h2>
        <div class="swiper-container statistics">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="btn primary outline ellipse-btn profile-statistic">
                        Инженерный класс 1
                        <div class="ellipse-container">
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="btn primary outline ellipse-btn profile-statistic">
                        Инженерный класс 2
                        <div class="ellipse-container">
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="btn primary outline ellipse-btn profile-statistic">
                        Инженерный класс 3
                        <div class="ellipse-container">
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="btn primary outline ellipse-btn profile-statistic">
                        Инженерный класс 4
                        <div class="ellipse-container">
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="btn primary outline ellipse-btn profile-statistic">
                        Инженерный класс 5
                        <div class="ellipse-container">
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                            <div class="ellipse secondary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"><img src="{% static "image/arrow.svg" %}" alt="arrow"></div>
        <div class="swiper-button-next"><img src="{% static "image/arrow.svg" %}" alt="arrow"></div>
        <div class="row list-block">
            <div class="col s1 list-container">
                <div class="list secondary"></div>
                <div class="list secondary"></div>
                <div class="list secondary"></div>
            </div>
            <div class="col s11">
                <div class="text-block">
                    <h3>Вам понадобится</h3>
                    <p>
                        молоко 500 мл, яйца 3 шт.
                        ,мука 200 г
                        ,масло сливочное,(или растительное) 30 г (2 ст. ложки)
                        ,сахар 30 г (2 ст. ложки)
                        ,соль 2-3 г (1/2 ч. ложки)
                    </p>
                </div>
                <div class="text-block">
                    <h3>Вам понадобится</h3>
                    <p>
                        молоко 500 мл, яйца 3 шт.
                        ,мука 200 г
                        ,масло сливочное,(или растительное) 30 г (2 ст. ложки)
                        ,сахар 30 г (2 ст. ложки)
                        ,соль 2-3 г (1/2 ч. ложки)
                    </p>
                </div>
                <div class="text-block">
                    <h3>Вам понадобится</h3>
                    <p>
                        молоко 500 мл, яйца 3 шт.
                        ,мука 200 г
                        ,масло сливочное,(или растительное) 30 г (2 ст. ложки)
                        ,сахар 30 г (2 ст. ложки)
                        ,соль 2-3 г (1/2 ч. ложки)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/5ff0ee1a91.js" crossorigin="anonymous"></script>
    <script src="{% static "js/index.js" %}"></script>
</body>
</html>
