<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        {% include 'include/head.html' %}
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <title>Лицей 49. Путь в успешное будущее</title>
    </head>
<body>
    {% include 'include/header.html' %}
    <div class="intro">
        <div class="text-container">
            <div class="content">
                <div class="text">
                    Лицей 49<br/>
                    <div>Путь в успешное будущее</div>
                </div>
                <a href="#instructions" class="btn secondary ellipse-btn">
                    Как поступить
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="img-container">
            <img src="{% static "image/figure.png" %}" alt="figure">
        </div>
    </div>
    <div class="delimiter primary" style="margin-top: 60px"></div>
    <div class="container profiles" id="profiles">
        <h2 class="right"><span>Набираемые</span> классы</h2>
        <div class="row profile-container">
            <div class="col m3 s6">
                <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.0.color }}">
                    <div class="name">{{ profile_classes.0.name }}</div>
                    <div class="exams">{{ profile_classes.0.profile_exams.all.0.name }} + {{ profile_classes.0.profile_exams.all.1.name }}</div>
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
            <div class="col m3 s6">
                <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.1.color }}">
                    <div class="name">{{ profile_classes.1.name }}</div>
                    <div class="exams">{{ profile_classes.1.profile_exams.all.0.name }} + {{ profile_classes.1.profile_exams.all.1.name }}</div>
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
            <div class="col m3 s6">
                <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.2.color }}">
                    <div class="name">{{ profile_classes.2.name }}</div>
                    <div class="exams">{{ profile_classes.2.profile_exams.all.0.name }} + {{ profile_classes.2.profile_exams.all.1.name }}</div>
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
            <div class="col m3 s6 img-col">
                {% if profile_classes|length >= 7 %}
                    <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.6.color }}">
                        <div class="name">{{ profile_classes.6.name }}</div>
                        <div class="exams">{{ profile_classes.6.profile_exams.all.0.name }} + {{ profile_classes.6.profile_exams.all.1.name }}</div>
                        <div class="ellipse-container">
                            <div class="ellipse primary"></div>
                            <div class="ellipse primary"></div>
                            <div class="ellipse primary"></div>
                        </div>
                    </a>
                {% else %}
                    <img src="{% static "image/ice.png" %}" alt="ice" id="ice">
                {% endif %}
            </div>
        </div>
        <div class="row profile-container">
            <div class="col m3 s6 img-col">
                {% if profile_classes|length == 8 %}
                    <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.7.color }}">
                        <div class="name">{{ profile_classes.7.name }}</div>
                        <div class="exams">{{ profile_classes.7.profile_exams.all.0.name }} + {{ profile_classes.7.profile_exams.all.1.name }}</div>
                        <div class="ellipse-container">
                            <div class="ellipse primary"></div>
                            <div class="ellipse primary"></div>
                            <div class="ellipse primary"></div>
                        </div>
                    </a>
                {% else %}
                    <img src="{% static "image/star.png" %}" alt="star" class="star">
                {% endif %}
            </div>
            <div class="col m3 s6">
                <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.3.color }}">
                    <div class="name">{{ profile_classes.3.name }}</div>
                    <div class="exams">{{ profile_classes.3.profile_exams.all.0.name }} + {{ profile_classes.3.profile_exams.all.1.name }}</div>
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
            <div class="col m3 s6">
                <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.4.color }}">
                    <div class="name">{{ profile_classes.4.name }}</div>
                    <div class="exams">{{ profile_classes.4.profile_exams.all.0.name }} + {{ profile_classes.4.profile_exams.all.1.name }}</div>
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
            <div class="col m3 s6">
                <a href="/enroll/" class="profile-class secondary ellipse-btn" style="background: {{ profile_classes.5.color }}">
                    <div class="name">{{ profile_classes.5.name }}</div>
                    <div class="exams">{{ profile_classes.5.profile_exams.all.0.name }} + {{ profile_classes.5.profile_exams.all.1.name }}</div>
                    <div class="ellipse-container">
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                        <div class="ellipse primary"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="delimiter secondary"></div>
    <div class="container" id="teachers">
        <h2 class="left"><span>Кафедра</span> учителей</h2>
        <div class="swiper-container teachers">
            <div class="swiper-wrapper">
                {% for teacher in teachers %}
                    <div class="swiper-slide">
                        <div class="teacher">
                            <img src="{{ teacher.photo.url }}" alt="{{ teacher.fio }}">
                            <div class="text">
                                <div>{{ teacher.fio }}<br>{{ teacher.lesson }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="delimiter primary"></div>
    <div class="container text-blocks instructions" id="instructions">
        <h2 class="right"><span>Как</span> поступить</h2>
        <div class="row list-block">
            <div class="col s12 list primary">
                <div class="text-block">
                    <h3 class="list-item primary">Подготовьте документы в электронном виде</h3>
                    <p>
                        &#8226; Паспорт с пропиской<br>
                        &#8226; Аттестат за 9 класс<br>
                        &#8226; Итоговые оценки по всем предметам<br>
                        &#8226; Результаты ОГЭ<br>
                    </p>
                    <div class="h100"></div>
                </div>
                <div class="text-block">
                    <h3 class="list-item primary">Заполните форму</h3>
                    <p>
                        Вместе с родителями заполните форму для подачи заявления в 10 класс.<br>
                        Укажите информацию о Вашей успеваимости в школе и результатах ОГЭ.<br>
                        Не забудьте прикрепить индивидуальные достижения и выбрать профильный класс, в котором Вы хотел бы
                        учиться.
                    </p>
                    <div class="h100"></div>
                </div>
                <div class="text-block">
                    <h3 class="list-item primary">Ждите результатов</h3>
                    <p>
                        Отслеживайте статус заявки и сообщения от приёмной комиссии в личном кабинете.<br>
                        Когда появяться результаты отбора, мы сообщим Вам по электронной пойти или по телефону.
                    </p>
                    <div class="h100"></div>
                </div>
            </div>
        </div>
        <a href="{% url "enroll" %}" class="btn primary ellipse-btn enroll-link">
            Подать заявку
            <div class="ellipse-container">
                <div class="ellipse secondary"></div>
                <div class="ellipse secondary"></div>
                <div class="ellipse secondary"></div>
            </div>
        </a>
    </div>
    <div class="delimiter secondary"></div>
    <div class="container text-blocks statistics" id="statistics">
        <h2 class="left"><span>Статистика</span> прошлого года</h2>
        <div class="swiper-container statistics">
            <div class="swiper-wrapper">
                {% for statistic in statistics %}
                    {% if statistic.id == active_statistic.id %}
                        <div class="swiper-slide">
                            <div class="btn primary outline ellipse-btn profile-statistic active" id="{{ statistic.id }}">
                                {{ statistic.name }}
                                <div class="ellipse-container">
                                    <div class="ellipse secondary"></div>
                                    <div class="ellipse secondary"></div>
                                    <div class="ellipse secondary"></div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="swiper-slide" id="{{ statistic.id }}">
                            <div class="btn primary outline ellipse-btn profile-statistic" id="{{ statistic.id }}">
                                {{ statistic.name }}
                                <div class="ellipse-container">
                                    <div class="ellipse secondary"></div>
                                    <div class="ellipse secondary"></div>
                                    <div class="ellipse secondary"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <div class="swiper-button-prev"><img src="{% static "image/arrow.svg" %}" alt="arrow"></div>
        <div class="swiper-button-next"><img src="{% static "image/arrow.svg" %}" alt="arrow"></div>
        <div class="row list-block" style="margin-top: 48px">
            <div class="col list secondary">
                <div class="text-block">
                    <h3 class="list-item secondary">Поступившие</h3>
                    <p id="enroll">
                        Всего поступило - {{ active_statistic.number_of_received }} человек(а)
                    </p>
                    <div class="h100"></div>
                </div>
                <div class="text-block">
                    <h3 class="list-item secondary">Выпустившиеся</h3>
                    <p id="graduate">
                        Всего выпустилось - {{ active_statistic.number_of_graduates }} ученик(ов)<br>
                        Из них медалистов - {{ active_statistic.number_of_medalists }} ученик(ов)<br>
                        В ВУЗ на бюджет поступили - {{ active_statistic.number_of_state_employees }} выпускник(ов)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="delimiter primary"></div>
    {% include 'include/footer.html' %}
    <script src="{% static "js/index.js" %}"></script>
    </body>
</html>
