<!doctype html>
<html lang="ru">
{% load static %}
<head>
    {% include 'include/head.html' %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <title>Авторизация</title>
</head>
<body>
    {% include 'include/header.html' %}
    <div class="cross">
        <img src="{% static 'image/cross.png' %}" alt="cross">
    </div>
    <div class="card-container">
        <form method="post">
            <h1>Авторизация</h1>
            {% csrf_token %}
            {{ form.passport }}
            {{ form.captcha }}

            <button type="submit" class="btn secondary ellipse-btn">
                Войти
                <div class="ellipse-container">
                    <div class="ellipse primary"></div>
                    <div class="ellipse primary"></div>
                    <div class="ellipse primary"></div>
                </div>
            </button>
            {{ form.errors.passport }}
        </form>
    </div>
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static "js/login.js" %}"></script>
</body>
</html>