<!doctype html>
<html lang="ru">
{% load static %}
<head>
    {% include 'include/head.html' %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <title>Личный кабинет</title>
</head>
<body>
    {% include 'include/header.html' %}
    <div class="card-container">
        <div class="row">
            <div class="col s5 image">
                <img src="{% static 'image/big-eye.png' %}" alt="big-eye">
            </div>
            <div class="col s7">
                <div class="card">
                    <div class="header secondary">
                        <div class="title">
                            Личная информация
                        </div>
                    </div>
                    <div class="body">
                        <h1>Здравствуйте, {{ fio }}</h1>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="header">
                        <div class="title">
                            Статус заявки
                        </div>
                    </div>
                    <div class="body">123</div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="header">
                        <div class="title">
                            Место в рейтинге
                        </div>
                    </div>
                    <div class="body">123</div>
                </div>
            </div>
            <div class="col s7">
                <div class="card">
                    <div class="header secondary">
                        <div class="title">
                            Связь с администрацией
                        </div>
                    </div>
                    <div class="body">123</div>
                </div>
            </div>
            <div class="col s5 image">
                <img src="{% static 'image/rect.png' %}" alt="rect">
            </div>
        </div>
    </div>
    {% include 'include/footer.html' %}
</body>
</html>